---
title: Presentations | Dradis Framework
description: See the slides from our presentations on the Dradis Framework from conferences like Bsides or DEFCON.
---

<div class="intro-text">
  <h2>Presentations</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>

<div class="container" id="presentations">
  <h2>Presentations</h2>
  <p>Review the slides from presentations we've given about the Dradis Framework at conferences like BSides and DEFCON.</p>
  <br/> 
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/bsides-london-2016.png'), 'bsides2016/', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="bsides2016/" target="_blank"><strong>Dradis 3.1: A Year of Updates</strong></a>
      </div>
      <div class="card-copy">
        <p>Security BSides London 2016</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/black-hat-2014.png'), 'bhusa2014/', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="bhusa2014/" target="_blank"><strong>Dradis 3.0: Packed with Goodness</strong></a>
      </div>
      <div class="card-copy">
        <p>Black Hat USA 2014</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/bsides-london-2015.png'), 'bsides2015/', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="bsides2015/" target="_blank"><strong>Dradis 3.0: About time.</strong></a>
      </div>
      <div class="card-copy">
        <p>Security BSides London 2015</p>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/bsides-london-2014.png'), 'bsides2014/', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="bsides2014/" target="_blank"><strong>Dradis Framework: API, Excel, and more.</strong></a>
      </div>
      <div class="card-copy">
        <p>Security BSides London 2014</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/bsides-london-2013.png'), 'bsides2013/', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="bsides2013/" target="_blank"><strong>Dradis Framework: Creating custom plugins.</strong></a>
      </div>
      <div class="card-copy">
        <p>Security BSides London 2013</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/defcon-17.png'), 'defcon-17-daniel_gomez-etd-dradis.pdf', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="defcon-17-daniel_gomez-etd-dradis.pdf" target="_blank"><strong>Dradis Framework: Sharing information will get you root.</strong></a>
      </div>
      <div class="card-copy">
        <p>DEFCON 17, 2009</p>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/effective-info-sharing.png'), 'dc4420_2009-03.pdf', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="dc4420_2009-03.pdf" target="_blank"><strong>Dradis: Effective information sharing.</strong></a>
      </div>
      <div class="card-copy">
        <p>2009</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/plugin-programming.png'), 'dradis_plugin_programming_2008-02-22.pdf', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="dradis_plugin_programming_2008-02-22.pdf" target="_blank"><strong>Introduction to Dradis plugin programming.</strong></a>
      </div>
      <div class="card-copy">
        <p>2008</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/overview.png'), 'overview.pdf', target: "_blank" %>
      </div>
      <div class="card-header">
        <a href="overview.pdf" target="_blank"><strong>Dradis overview.</strong></a>
      </div>
      <div class="card-copy">
        <p>2007</p>
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-image">
      </div>
      <div class="card-header">
      </div>
      <div class="card-copy">
      </div>
    </div> -->
  </div>
</div>
