---
title: Presentations | Dradis Framework
description: See the slides from our presentations on the Dradis Framework from conferences like Bsides or DEFCON.
---

<div class="intro-text">
  <h2>Presentations</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>

<div class="container" id="presentations">
  <h2>Presentations</h2>
  <p>Review the slides from presentations we've given about the Dradis Framework at conferences like BSides and DEFCON.</p>
  <br/> 
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/bsides-london-2015.png'), '/slides/bsides2015/' %>
      </div>
      <div class="card-header">
        <a href="/slides/bsides2015/"><strong>Dradis 3.0: About time.</strong></a>
      </div>
      <div class="card-copy">
        <p>Security BSides London 2015</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/bsides-london-2014.png'), '/slides/bsides2014/' %>
      </div>
      <div class="card-header">
        <a href="/slides/bsides2014/"><strong>Dradis Framework: API, Excel, and more.</strong></a>
      </div>
      <div class="card-copy">
        <p>Security BSides London 2014</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/bsides-london-2013.png'), '/slides/bsides2013/' %>
      </div>
      <div class="card-header">
        <a href="/slides/bsides2013/"><strong>Dradis Framework: Creating custom plugins.</strong></a>
      </div>
      <div class="card-copy">
        <p>Security BSides London 2013</p>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/defcon-17.png'), '/slides/defcon-17-daniel_gomez-etd-dradis.pdf' %>
      </div>
      <div class="card-header">
        <a href="/slides/defcon-17-daniel_gomez-etd-dradis.pdf"><strong>Dradis Framework: Sharing information will get you root.</strong></a>
      </div>
      <div class="card-copy">
        <p>DEFCON 17, 2009</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/effective-info-sharing.png'), '/slides/dc4420_2009-03.pdf' %>
      </div>
      <div class="card-header">
        <a href="/slides/dc4420_2009-03.pdf"><strong>Dradis: Effective information sharing.</strong></a>
      </div>
      <div class="card-copy">
        <p>2009</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/plugin-programming.png'), '/slides/dradis_plugin_programming_2008-02-22.pdf' %>
      </div>
      <div class="card-header">
        <a href="/slides/dradis_plugin_programming_2008-02-22.pdf"><strong>Introduction to Dradis plugin programming.</strong></a>
      </div>
      <div class="card-copy">
        <p>2008</p>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/presentations/overview.png'), '/slides/overview.pdf' %>
      </div>
      <div class="card-header">
        <a href="/slides/overview.pdf"><strong>Dradis overview.</strong></a>
      </div>
      <div class="card-copy">
        <p>2007</p>
      </div>
    </div>
    <div class="card">
      <!-- <div class="card-image">
      </div>
      <div class="card-header">
      </div>
      <div class="card-copy">
      </div> -->
    </div>

    <div class="card">
      <!-- <div class="card-image">
      </div>
      <div class="card-header">
      </div>
      <div class="card-copy">
      </div> -->
    </div>
  </div>
</div>
