<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# SEO :title and :description from the frontmatter%>
    <%= title_seo %>
    <%= description_seo %>

    <!-- favicon.ico extravaganzza -->
    <%= favicon_tag '/apple-touch-icon-152x152-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '152x152' %>
    <%= favicon_tag '/apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '144x144' %>
    <%= favicon_tag '/apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '114x114' %>
    <%= favicon_tag '/apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', sizes: '72x72' %>
    <%= favicon_tag '/apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed' %>
    <%= favicon_tag '/favicon.png', rel: 'shortcut icon' %>
    <%= favicon_tag '/favicon.ico', rel: 'icon' %>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Signika:700' rel='stylesheet' type='text/css'>

    <%= gzip_css_on_build 'site' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= page_classes %>">
  <% if build? %>
  <!-- START Google Tag Manager - dradisframework.org -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TJJSWV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TJJSWV');</script>
  <!-- END Google Tag Manager - dradisframework.org -->
  <% end %>

  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="/" class="logo">
        <%= image_tag 'logo_vector.png', alt: 'Our logo', height: '60' %>
      </a>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="nav">
        <ul id="navigation-menu">
          <li class="nav-link"><a href="/download.html">Download</a></li>
          <li class="nav-link more"><a href="javascript:void(0)">Use Dradis</a>
            <ul class="submenu">
              <li class="more"><a href="/documentation/">Documentation</a>
                <ul class="submenu">
                  <li><a href="/documentation/index.html#install">Install Dradis</a></li>
                  <li><a href="/documentation/index.html">Dradis guides</a></li>
                  <li><a href="/addons/">Add-ons</a></li>
                  <li><a href="/documentation/slides/">Presentations</a></li>
                  <li><a href="/documentation/videos/">Videos</a></li>
                </ul>
              </li>
              <li><a href="/FAQ.html">FAQs</a></li>
              <li><a href="/screenshots.html">Screenshots</a></li>
              <li><a href="/security_reports.html">Security reports</a></li>
              <li><a href="/license.html">License</a></li>
            </ul>
          </li>
          <li class="nav-link more"><a href="javascript:void(0)">Develop Dradis</a>
            <ul class="submenu">
              <li><a href="https://github.com/dradis/dradis-ce">Fork on GitHub</a></li>
              <li><a href="https://github.com/dradis/dradis-ce/blob/master/CONTRIBUTING.md">Contribute</a></li>
              <li><a href="/CHANGELOG.html">CHANGELOG</a></li>
              <li><a href="/release_timeline.html">Release timeline</a></li>
            </ul>
          </li>
          <li class="nav-link more"><a href="javascript:void(0)">Get Help</a>
            <ul class="submenu">
              <li><a href="http://discuss.dradisframework.org">Community forums</a></li>
              <li><a href="https://github.com/dradis/dradis-ce/issues">Issue tracker</a></li>
              <!-- <li><a href="http://webchat.freenode.net/?channels=dradis">IRC</a></li> -->
              <!-- <li><a href="https://evening-hamlet-4416.herokuapp.com">Slack</a></li> -->
              <!-- <li><a href="mailing_lists.html">Mailing lists</a></li> -->
            </ul>
          </li>
        </ul>
      </div>
      <div class="navigation-tools">
        <a href="/academy/" class="academy">Dradis Academy</a>
        <a href="http://securityroots.com/dradispro/editions.html" class="sign-up">Dradis Professional</a>
      </div>
    </div>
  </header>


  <%= yield %>

  <footer class="footer">
    <div class="footer-logo">
      <%= image_tag 'logo_vector.png', alt: 'Our logo', height: 50, width: 50 %>
    </div>
    <div class="footer-links">
      <ul style="list-style: none;">
        <li><h3>Dradis Framework</h3></li>
        <li><a href="/documentation/index.html#install">Install</a></li>
        <li><a href="/documentation/">Documentation</a></li>
        <li><a href="/addons/">Add-ons</a></li>
        <!-- <li><a href="javascript:void(0)">Develop</a></li> -->
        <li><a href="/license.html">License</a></li>
        <li><a href="/screenshots.html">Screenshots</a></li>
      </ul>
      <ul style="list-style: none;">
        <li><h3>Get Help</h3></li>
        <li><a href="http://discuss.dradisframework.org">Community forums</a></li>
        <li><a href="https://github.com/dradis/dradis-ce/issues">Issue tracker</a></li>
        <!-- <li><a href="https://evening-hamlet-4416.herokuapp.com">Slack</a></li> -->
        <!-- <li><a href="http://webchat.freenode.net/?channels=dradis">IRC</a></li> -->
        <!-- <li><a href="mailing_lists.html">Mailing lists</a></li> -->
      </ul>
      <ul style="list-style: none;">
        <li><h3>Projects</h3></li>
        <li><a href="/academy/">Dradis Academy</a></li>
        <li><a href="http://securityroots.com/dradispro/">Dradis Professional</a></li>
        <li>&nbsp;</li>
        <li><h3>Follow Us</h3></li>
        <li><a href="http://twitter.com/dradisfw">Twitter</a> &hyphen; <a href="https://github.com/dradis/dradis-ce/">GitHub</a> &hyphen; <a href="http://blog.dradisframework.org/">Blog</a></li>
      </ul>
    </div>

    <hr/>

    <p>Maintained by the <a href="https://github.com/orgs/dradis/people">core team</a> with help from <a href="https://github.com/dradis/dradis-ce/graphs/contributors">current</a> and <a href="https://github.com/dradis/dradisframework/graphs/contributors">legacy</a> contributors.</p>
    <p>Sponsored by <a href="http://securityroots.com">Security Roots</a>.</p>
  </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= gzip_js_on_build "site" %>    
  </body>
</html>
