---
title: Installing Dradis on Cloud9 | Dradis Framework
description: Use c9.io to get Dradis up and running on the Cloud9 IDE
---

<div class="intro-text">
  <h2>Installing Dradis on Cloud9</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>


<div class="container">
	<h2>Deploy Dradis on Cloud9</h2>
	<p>Use this guide to install Dradis Community Edition and get up and running in the Cloud9 IDE. Unlike a <a href="install_git.html">local installation</a>, you won't be able to take this instance of Dradis offline. But, you'll have access to Dradis anywhere that has an internet connection.</p><br/>
	<p>Running Windows and don't have access to <a href="http://tools.kali.org/reporting-tools/dradis">Kali Linux?</a> Use Cloud9 to get up and running with Dradis with just your browser, and fast!</p><br/><br/>
	
	<h3>Getting started on Cloud9</h3><br/>
  <ol>
    <li>
      <p>Sign up for a free account at <a href="https://c9.io/web/sign-up/free">Cloud9</a>.</p>
      <p>They have premium plans if you're interested in more workspaces or more diskspace. However, to launch and use Dradis, you can use their free account.</p>
    </li><hr/>
    <li><p>From your Cloud9 dashboard, click <strong>+ Create a new workspace</strong></p></li><hr/>
    <li><p>Give your workspace a name (any name)<br/>Optionally give your workspace a description</p></li><hr/>
    <li><p>For this guide, we're going to be working with a Hosted workspace. Make sure to select either a Private or a Public workspace.</p></li><hr/>
    <li><p>Enter the following value into the <strong>Clone from Git or Mercurial URL</strong> field:
      <pre class="code">https://github.com/dradis/dradis-ce.git</pre></li><hr/>
    <li><p>Under <strong>Choose a template</strong>, select the <strong>Ruby</strong> icon.</p></li><hr/>
    <li>
      <p>Click <strong>Create workspace</strong></p><br/>
      <div class="centered-image">
        <%= image_tag 'documentation/dradisframework-04.png', width: "75%" %> 
      </div>
    </li><hr/>
  </ol>

  <h3>Get your workspace in order</h3><br/>
  <p>When your workspace is loaded, you'll be greeted by the following screen:</p>
  <div class="centered-image">
  	<%= image_tag 'documentation/dradisframework-05.png', width: "75%" %>
  </div><br/><br/>
  <ol>
    <li>
      <p>In the top left hand sidebar, click the <strong>Settings wheel</strong> and select <strong>Show Home in Favorites</strong> from the dropdown as shown below</p><br/>
      <div class="centered-image">
        <%= image_tag 'documentation/dradisframework-06.png', width: "33%" %>
      </div>
    </li><hr/>
    <li><p>Run the following in the terminal at the bottom of your screen:</p>
      <pre class="code">$ ./bin/setup</pre>
      <p>Don't worry about the warning about <code>The path `/home/ubuntu/dradis-plugins` does not exist.</code>, we'll fix that next</p>
    </li><hr/>
    <li><p>Expand the <strong>~</strong> folder under <strong>Favorites</strong> at the top of your screen and expand the <strong>community</strong> folder so that you can see all 18 folders inside.</p></li><hr/>
    <li>
      <p>Move all 18 folders out of the <strong>community</strong> folder so that they are on the same level as the <strong>workspace</strong> folder (CTRL + click to select all 18 folders as once). Your file structure should now look like this:</p>
      <div class="centered-image">
        <%= image_tag 'documentation/dradisframework-07.png', width: "20%" %>
      </div>
    </li><hr/>
    <li>
      <p>Run the following in the terminal at the bottom of your screen:<br/><code>$ bundle install</code></p>
      <p><em>Troubleshooting this step:</em>
        <ul>
          <li>If you get a message about <code>An error occurred while installing gem-name (1.0.0), and Bundler cannot continue</code>, it's likely a system-specific dependency issue. The first line of defense is to Google the specific error message to see whether StackOverflow or similar sites offer a solution. If you cannot resolve the issue, let us know in the <a href="http://discuss.dradisframework.org">Community Forums</a></li><br/>
          <li>If you get a message like: <code>bash: bundle: command not found</code>, run the following in your command line before continuing:<br/><code>$ gem install bundle</code></li>
        </ul>
      </p>
    </li><hr/>
    <li>
      <p>Run the following in the terminal at the bottom of your screen:</p>
      <pre class="code">$ ./bin/setup</pre>
      <p><em>Troubleshooting this step:</em> If you get an error message similar to <code>"NoMethodError: undefined method `last_comment' for #<Rake::Application:0x007ff0cf37be38>"</code>, you can resolve it by inserting the following content in line #6 of your <code>Rakefile</code> to bypass an issue with Rake version 11:</pre>

      <pre class="code"># temp fix for NoMethodError: undefined method `last_comment'
# remove when fixed in Rake 11.x
module TempFixForRakeLastComment
  def last_comment
    last_description
  end
end
Rake::Application.send :include, TempFixForRakeLastComment
### end of temfix</pre>
      <p><a href="http://stackoverflow.com/questions/35893584/nomethoderror-undefined-method-last-comment-after-upgrading-to-rake-11/35893941">Credit to StackOverflow for this patch</a></p></li><hr/>
    <li><p>Run the following in the terminal at the bottom of your screen:<pre class="code">$ bundle exec rails server -p $PORT -b $IP</pre></li><hr/>
    <li>In a new tab in your terminal, start the Background worker that is needed to upload and parse tool output by running:<pre class="code">$ sudo service redis-server start</pre></li><hr/>
    <li>
      <p>Navigate to the URL where Dradis is now running! The url requires your workspace name (dradis-ce in this example) and your Cloud9 username (rkorinek in this example). The url uses the following format: [WorkspaceName]-[Cloud9Username].c9users.io. <br/>Example: https://[workspace]dradis-ce-rkorinek.c9users.io/</p>
      <div class="centered-image">
        <%= image_tag 'documentation/dradisframework-14.png', width: "75%" %>
      </div>
    </li><hr/>
    <li>
      <p>Configure the shared password by entering it and confirming it:
        <div class="centered-image">
          <%= image_tag 'documentation/dradisframework-01.png', width: "50%" %>
        </div>
      </p>
      <p><em>Troubleshooting this step:</em> if you encounter an error message like <code>ActionController::UrlGenerationError in HomeController#index<br/>No route matches {:action=>"init", :controller=>"home"}</code>(pictured below) when you navigate to Dradis, go to <code>/setup</code> in your browser.
        <div class="centered-image">
          <%= image_tag 'documentation/dradisframework-13.png', width: "75%" %>
        </div>
      </p>
    </li><hr/>
    <li>
      <p>Create a username, then enter the password you created in step #3:
        <div class="centered-image">
          <%= image_tag 'documentation/dradisframework-02.png', width: "50%" %>
        </div>
      </p>
    </li><hr/>
  </ol>

  <br/>
  <br/>
  <h1>Congratulations!</h1>
  <p>You did it! You have now completed the installation process are are now running Dradis on Cloud9. Congratulations on making it all the way from git to running on the cloud!</p><br/>
    <div class="centered-image">
      <%= image_tag 'documentation/dradisframework-03.png', width: "75%" %>
    </div>
  <br/><br/>

  <%= partial '/optin' %>
  <br/>
  <br/>
  <h3 class="text-center">Next? Check out <a href="/documentation/">the rest of the Dradis Community guides</a>.</h3>
  <br/><br/><br/>
</div>
