---
title: Installing Dradis from Git | Dradis Framework
description: Install Dradis on your local system from GitHub. Download and deploy Dradis Community Edition using these quick instructions.
---

<div class="intro-text">
  <h2>Installing Dradis from Git</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>

  
<div class="container">
  <ul class="bullets">
    <li class="bullet two-col-bullet">
      <div class="bullet-content" style="margin-left: 0">
        <h1 id="dependencies">Dependencies</h1>
        <br/><br/>
        <ul>
          <li><strong>Redis</strong>: make sure Redis is installed and running on your local system. If you're not sure how to install it on your local system, try searching Google for "<em>install Redis [operating system]</em>"</li><br/>
          <li><strong>Kali Linux dependencies</strong>: see the <a href="install_kali.html#dependencies">dependencies section</a> of the Installing Dradis on Kali Linux guide.</li>
        </ul>
      </div>
    </li>
    <li class="bullet two-col-bullet">
      <div class="bullet-content" style="margin-left: 0">
        <h1>Video Tutorial</h1>
        <div class="video-container">
          <iframe frameborder="0" width="480" height="300" src="//fast.wistia.net/embed/iframe/smk350o0nr"></iframe>
        </div>
      </div>
    </li>
  </ul>

  <h2>Getting Started</h2>
  <ol>
    <li>Head over to the <a href="https://github.com/dradis/dradis-ce">Dradis Framework repo</a> on GitHub.</li>
    <li>
      <p>On your local system, run the following in your command line:</p>
      <pre class="code">$ git clone https://github.com/dradis/dradis-ce.git
$ cd dradis-ce/</pre>
</li>
    <li>Run the following in your command line:<br/><pre class="code">$ bundle install</pre></li>
    <li>Run the following in your command line:<br/><pre class="code">$ ./bin/setup</pre></li>
  </ol>
  <br/><br/>
  <h3>Setting up the app</h3>
  <br/>
  <ol>
    <li>Once you've completed the steps above, fire up the server by running the following in your command line:<pre class="code">$ bundle exec rails server</pre></li>
    <li>Point your browser to: <a href="https://localhost:3000/">https://localhost:3000</a></li>
    <li>Configure the shared password by entering it and confirming it:
      <div class="centered-image">
        <%= image_tag 'documentation/dradisframework-01.png', width: "60%" %>
      </div>
    </li>
    <li>Create a username, then enter the password you created above:
      <div class="centered-image">
        <%= image_tag 'documentation/dradisframework-02.png', width: "60%" %>
      </div>
    </li>
    <li>In a new tab in your terminal, start the <a href="#dependencies"><strong>Background worker</strong></a> that is needed to upload and parse tool output.<pre class="code">$ bundle exec rake resque:work</pre></li>
  </ol>
  <br/>
  <br/>

  <h2>Congratulations!</h2>
  <p>You did it! You have now completed the installation process. Congratulations on making it all the way from git to running!
  <div class="centered-image">
    <%= image_tag 'documentation/dradisframework-03.png', width: "90%" %>
  </div>
  </p>
  <br/><hr/>
  <h4 id="troubleshooting">Troubleshooting tips</h4>
  <ul>
    <li><strong>I'm installing on Kali Linux</strong>: check out the <a href="install_kali.html#troubleshooting">troubleshooting section</a> of the Installing Dradis on Kali Linux guide.</li><br/>
    <li><strong><code>The path '~/dradis-plugins' does not exist</code></strong>:<br/>
    First, check the file structure. Have you created any folders other than <code>dradis-ce</code>? If not, try running: <code>$ ./bin/setup</code>.<br/>
    Did the download create a folder like <strong>/community</strong> that holds the <strong>dradis-plugins</strong> folder? If so, move the contents of the <strong>community</strong> folder out into the same file that holds the <strong>dradis-ce</strong> folder.
    </li><br/>
    <li><strong><code>An error occurred while installing gem-name (1.0.0), and Bundler cannot continue</code></strong>:<br/>
    This is ikely a system-specific dependency issue. The first line of defense is to Google the specific error message to see whether StackOverflow or similar sites offer a solution. If you cannot resolve the issue, let us know in the <a href="http://discuss.dradisframework.org">Community Forums</a>
    </li><br/>
    <li>
      <strong><code>ActionController::UrlGenerationError in HomeController#index<br/>No route matches {:action=>"init", :controller=>"home"}</code></strong>: If you see this error(pictured below) when you navigate to Dradis, go to <code>/setup</code> in your browser to force Dradis to start the setup process.
      <div class="centered-image">
        <%= image_tag 'documentation/dradisframework-13.png', width: "75%" %>
      </div>
    </li>
  </ul>
  <br/><br/>    

  <%= partial '/optin' %>

  <br/><br/>
  <h3 class="text-center">Next? Check out <a href="/documentation/">the rest of the Dradis Community guides</a>.</h3>
  <br/><br/><br/>
</div>
