---
title: Dradis - Effective Information Sharing
description: The Dradis Framework is an open-source collaboration and reporting platform for IT security experts.
---
<section class="header">
  <div class="center-image">
    <div class="content">
      <h1>Open-source collaboration and reporting<br/>for InfoSec teams</h1>
      <p>Combine the output of different tools, and generate a consistent report.</p>

      <p><a href="/screenshots.html"><%= image_tag 'screenshots/v3.0/layout-01_small.png' %></a></p>

      <div class="buttons">
        <a href="/download.html"><button class="primary">Download</button></a>
        <a href="/screenshots.html"><button>Screenshots</button></a>
        <a href="/addons/"><button>Add-ons</button></a>
      </div>
    </div>
  </div>
</section>

<div class="light-gray-wrapper">
  <section>
    <ul class="bullets">
      <li class="bullet three-col-bullet">
        <i class="fa fa-users"></i>
        <div class="bullet-content">
          <h2>Seamless collaboration</h2>
          <ul>
            <li>Track your progress</li>
            <li>Split tasks</li>
            <li>Share screenshots and evidence</li>
          </ul>
          </div>
      </li>
      <li class="bullet three-col-bullet">
        <i class="fa fa-cogs"></i>
        <div class="bullet-content">
          <h2>Extensible</h2>
          <p>We already connect with <a href="/addons/">15+ different
          tools</a> including <strong>Burp</strong>, <strong>Nessus</strong>,
          Nmap, Qualys, etc.</p>
          <p>And if we don't have a connector for tool X, it's easy to create one!</p>
        </div>
      </li>
      <li class="bullet three-col-bullet">
        <i class="fa fa-desktop"></i>
        <div class="bullet-content">
          <h2>Platform independent</h2>
          <p>Dradis is a web application, you only need your browser to use it.</p>
          <ul>
            <li><a href="/documentation/install_git.html">Dradis from Git</a></li>
            <li><a href="/documentation/install_kali.html">Dradis on Kali</a></li>
            <li><a href="/documentation/install_cloud9.html">Install on Cloud9</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
</div>

<section class="integrations">
    <div class="text-center">
      <h3>We integrate with</h3>
      <%= image_tag 'integrations.png' %>
    </div>
</section>

<div class="light-gray-wrapper">
  <section class="press">
    <div class="text-center">
      <h3>As seen on</h3>

      <p>
        <%= image_tag 'press/dc-logo.png',         class: 'logo2', width: 250 %>
        <%= image_tag 'press/blackhat.png',        class: 'logo2', width: 250 %>
        <%= image_tag 'press/bsides_logo.png',     class: 'logo2', width: 250 %>
      </p>
      <br/>
      <p>
        <%= image_tag 'press/pentesterlab.png',    class: 'logo2', width: 200 %>
        <%= image_tag 'press/security_weekly.png', class: 'logo2' %>
        <%= image_tag 'press/rooted_logo.png',     class: 'logo2', width: 200 %>
      </p>
    </div>
  </section>
</div>

<section>
  <div class="flash-notice">
    <span>Do you have Rails chops and would like to make Dradis even better? <a href="http://securityroots.com/careers.html">We're hiring</a>.</span>
  </div>
</section>
