---
title: Screenshots | Dradis Framework
description: Find out what our beautiful framework looks like.
---

<div class="intro-text">
  <h2>Screenshots</h2>
  <!-- <h4>The latest version of the Dradis Framework is <strong>3.0.0.rc1</strong></h4> -->
</div>


<div class="container">
  <h3>Latest release</h3>

  <p>Dradis 3.0 introduced a new UI theme, codename <em>Snowcrash</em>:</p>

  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-01.png') do image_tag 'screenshots/v3.0/layout-01_small.png', width: 200, title: 'New Snowcrash theme' end %>
  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-02.png') do image_tag 'screenshots/v3.0/layout-02_small.png', width: 200, title: 'New Snowcrash theme' end %>
  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-03.png') do image_tag 'screenshots/v3.0/layout-03_small.png', width: 200, title: 'New Snowcrash theme' end %>
  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-04.png') do image_tag 'screenshots/v3.0/layout-04_small.png', width: 200, title: 'New Snowcrash theme' end %>

  <h3>Previous releases</h3>

  <p>We haven't updated this section with the <em>vintage</em> screenshots from previous editions, but we'll do that soon!</p>
  <!-- <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.8</a>
    <div class="expander-content">
      <p>
        <%= image_tag 'screenshots/v2.8/layout-01_small.png', width: 200, title: 'New three-column layout' %>
        <a href="images/screenshot/v2.8/layout-02.png"><%= image_tag 'screenshots/v2.8/layout-02_small.png', width: 200, title: 'New table styles inside notes' %>
        <a href="images/screenshot/v2.8/layout-03.png"><%= image_tag 'screenshots/v2.8/layout-03_small.png', width: 200, title: 'New node tree context menu, create node types' %>
        <a href="images/screenshot/v2.8/layout-04.png"><%= image_tag 'screenshots/v2.8/layout-04_small.png', width: 200, title: 'New note list context menu' %>
      </p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.7</a>
    <div class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
    </div>
  </div>


  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.5</a>
    <div class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.3</a>
    <div class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.0</a>
    <div class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v1.1</a>
    <div class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v1.0</a>
    <div class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
    </div>
  </div> -->

</div>