---
title: Screenshots | Dradis Framework
description: Find out what our beautiful framework looks like.
---

<div class="intro-text">
  <h2>Screenshots</h2>
  <!-- <h4>The latest version of the Dradis Framework is <strong>3.0.0.rc1</strong></h4> -->
</div>


<div class="container">
  <h3>Latest release</h3>

  <p>Dradis 3.0 introduced a new UI theme, codename <em>Snowcrash</em>:</p>

  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-01.png') do image_tag 'screenshots/v3.0/layout-01_small.png', width: 200, title: 'New Snowcrash theme' end %>
  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-02.png') do image_tag 'screenshots/v3.0/layout-02_small.png', width: 200, title: 'New Snowcrash theme' end %>
  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-03.png') do image_tag 'screenshots/v3.0/layout-03_small.png', width: 200, title: 'New Snowcrash theme' end %>
  <%= link_to asset_path(:images, 'screenshots/v3.0/layout-04.png') do image_tag 'screenshots/v3.0/layout-04_small.png', width: 200, title: 'New Snowcrash theme' end %>

  <h3>Previous releases</h3>

  <p>We haven't updated this section with the <em>vintage</em> screenshots from previous editions, but we'll do that soon!</p>
  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger">Dradis v2.8</a>
    <div class="expander-content">
      <p>
        <%= link_to image_tag('screenshots/v2.8/layout-01_small.png', width: 200, title: 'New three-column layout'), image_path('screenshots/v2.8/layout-01.png') %>
        <%= link_to image_tag('screenshots/v2.8/layout-02_small.png', width: 200, title: 'New table styles inside notes'), image_path('screenshots/v2.8/layout-02.png') %>
        <%= link_to image_tag('screenshots/v2.8/layout-03_small.png', width: 200, title: 'New node tree context menu, create node types'), image_path('screenshots/v2.8/layout-03.png') %>
        <%= link_to image_tag('screenshots/v2.8/layout-04_small.png', width: 200, title: 'New note list context menu'), image_path('screenshots/v2.8/layout-04.png') %>
      </p>
    </div>
  </div>


  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.7</a>
    <div class="expander-content">
      <p>
        <%= link_to image_tag('screenshots/v2.7/new_toolbar_items_small.png', width: 175, title: 'The new toolbar items: the Upload and Configuration Managers'), image_path('screenshots/v2.7/new_toolbar_items.png') %>
        <%= link_to image_tag('screenshots/v2.7/configuration_manager_small.png', width: 175, title: 'The new Configuration Manager'), image_path('screenshots/v2.7/configuration_manager.png') %>
        <%= link_to image_tag('screenshots/v2.7/upload_manager_small.png', width: 175, title: 'The new interactive Upload Manager'), image_path('screenshots/v2.7/upload_manager.png') %>
        <%= link_to image_tag('screenshots/v2.7/thor_tasks_small.png', width: 175, title: 'All the available Thor tasks'), image_path('screenshots/v2.7/thor_tasks.png') %>
        <%= link_to image_tag('screenshots/v2.7/upload_nmap_task_small.png', width: 175, title: 'Running the dradis:upload:nmap task'), image_path('screenshots/v2.7/upload_nmap_task.png') %>
      </p>
    </div>
  </div>


  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.5</a>
    <div class="expander-content">
      <p>
        <%= link_to image_tag('screenshots/v2.5/first_time_wizard_small.png', width: 175, title: 'First Time User Wizard'), image_path('screenshots/v2.5/first_time_wizard.png') %>
        <%= link_to image_tag('screenshots/v2.5/feeds_viewer_small.png', width: 175, title: 'Built-in RSS feed and feed viewer'), image_path('screenshots/v2.5/feeds_viewer.png') %>
        <%= link_to image_tag('screenshots/v2.5/rich_note_editor_small.png', width: 175, title: 'Rich note editor with formatting and preview pane'), image_path('screenshots/v2.5/rich_note_editor.png') %>
        <%= link_to image_tag('screenshots/v2.5/nmap_result_small.png', width: 175, title: 'Structured data from the Nmap upload plugin'), image_path('screenshots/v2.5/nmap_result.png') %>
        <%= link_to image_tag('screenshots/v2.5/html_reporting_small.png', width: 175, title: 'It is now possible to create HTML reports'), image_path('screenshots/v2.5/html_reporting.png') %>
      </p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.3</a>
    <div class="expander-content">
      <p>
        <%= link_to image_tag('screenshots/v2.3/login_small.png', width: 175, title: 'Login page'), image_path('screenshots/v2.3/login.png') %>
        <%= link_to image_tag('screenshots/v2.3/options_small.png', width: 175, title: 'Server configuration screen'), image_path('screenshots/v2.3/options.png') %>
        <%= link_to image_tag('screenshots/v2.3/package_browser_small.png', width: 175, title: 'Package browser, checkout revision from Meta-Server'), image_path('screenshots/v2.3/package_browser.png') %>
        <%= link_to image_tag('screenshots/v2.3/export_plugin_small.png', width: 175, title: 'Export plugins: export your repository to any format'), image_path('screenshots/v2.3/export_plugin.png') %>
        <%= link_to image_tag('screenshots/v2.3/upload_plugin_small.png', width: 175, title: 'Upload plugins: upload a tool output file (Nmap, Nessus, etc.) and it will be added to your repository'), image_path('screenshots/v2.3/upload_plugin.png') %>
        <%= link_to image_tag('screenshots/v2.3/import_plugin_small.png', width: 175, title: 'Import plugins: fill in your repository with information from external sources'), image_path('screenshots/v2.3/import_plugin.png') %>
        <%= link_to image_tag('screenshots/v2.3/attachments_small.png', width: 175, title: 'You can add file attachments to any node'), image_path('screenshots/v2.3/attachments.png') %>
      </p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v2.0</a>
    <div class="expander-content">
      <p>
        <%= link_to image_tag('screenshots/v2.0/login_small.png', width: 175, title: 'login page'), image_path('screenshots/v2.0/login.png') %>
        <%= link_to image_tag('screenshots/v2.0/notes_small.png', width: 175, title: 'notes grid with a expanded note'), image_path('screenshots/v2.0/notes.png') %>
        <%= link_to image_tag('screenshots/v2.0/columns_small.png', width: 175, title: 'column options in the notes grid'), image_path('screenshots/v2.0/columns.png') %>
        <%= link_to image_tag('screenshots/v2.0/categories_small.png', width: 175, title: 'category management'), image_path('screenshots/v2.0/categories.png') %>
        <%= link_to image_tag('screenshots/v2.0/dragndrop_small.png', width: 175, title: "drag'n'drop support for the nodes tree"), image_path('screenshots/v2.0/dragndrop.png') %>
        <%= link_to image_tag('screenshots/v2.0/client_v2.0-vegas_01_small.png', width: 175, title: ''), image_path('screenshots/v2.0/client_v2.0-vegas_01.png') %>
        <%= link_to image_tag('screenshots/v2.0/client_v2.0-vegas_02_small.png', width: 175, title: ''), image_path('screenshots/v2.0/client_v2.0-vegas_02.png') %>
        <%= link_to image_tag('screenshots/v2.0/client_v2.0-vegas_03_small.png', width: 175, title: ''), image_path('screenshots/v2.0/client_v2.0-vegas_03.png') %>
      </p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v1.1</a>
    <div class="expander-content">
      <p>
        <%= link_to image_tag('screenshots/v1.1/client_v1.1_01_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_v1.1_01.png') %>
        <%= link_to image_tag('screenshots/v1.1/client_v1.1_02_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_v1.1_02.png') %>
        <%= link_to image_tag('screenshots/v1.1/client_v1.1_03_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_v1.1_03.png') %>
        <%= link_to image_tag('screenshots/v1.1/client_v1.1_04_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_v1.1_04.png') %>
        <%= link_to image_tag('screenshots/v1.1/client_v1.1_05_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_v1.1_05.png') %>
      </p>
      <p>
        <%= link_to image_tag('screenshots/v1.1/server_v1.1_01_small.png', width: 175, title: ''), image_path('screenshots/v1.1/server_v1.1_01.png') %>
        <%= link_to image_tag('screenshots/v1.1/server_v1.1_02_small.png', width: 175, title: ''), image_path('screenshots/v1.1/server_v1.1_02.png') %>
        <%= link_to image_tag('screenshots/v1.1/server_v1.1_03_small.png', width: 175, title: ''), image_path('screenshots/v1.1/server_v1.1_03.png') %>
      </p>
      <p>
        <%= link_to image_tag('screenshots/v1.1/client_01_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_01.png') %>
        <%= link_to image_tag('screenshots/v1.1/client_02_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_02.png') %>
        <%= link_to image_tag('screenshots/v1.1/client_03_small.png', width: 175, title: ''), image_path('screenshots/v1.1/client_03.png') %>
      </p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">Dradis v1.0</a>
    <div class="expander-content">
      <p>
        <%= link_to image_tag('screenshots/v1.0/server_01_small.png', width: 175, title: ''), image_path('screenshots/v1.0/server_01.png') %>
        <%= link_to image_tag('screenshots/v1.0/server_02_small.png', width: 175, title: ''), image_path('screenshots/v1.0/server_02.png') %>
      </p>
    </div>
  </div>

</div>